extends layout

block content
  div(style="text-align:center;")
   div(class="navbar navbar-fixed-top" )



    .navbar
      .navbar-inner(style="padding-left:20px;")
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") MASI Scheduler
          .nav-collapse.collapse
           ul.nav
            li.active
             a(href="#/classrooms") Locaux
            li
             a(href="#/teachers") Professeurs
            li
             a(href="#/courses") Cours
            li
             a(href="#/promotions") Groupes
            li
             a(href="#/schedules") Horaires
            li
             a(href="#/csv") Import

  div(ng-view="")
