doctype 5
html(ng-app="calendarApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/javascripts/jquery/jquery.min.js")
    script(src="/javascripts/angular.js/angular.min.js")
    script(src="/javascripts/ui-bootstrap-0.7.0.js")
    script(src="/javascripts/ui-bootstrap-tpls-0.7.0.js")
    script(src="/javascripts/twitter-bootstrap/js/bootstrap.js")
    script(src="/javascripts/app.js")
  body
    block content