doctype 5
html(ng-app="calendarApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/jquery.minicolors.css')
    link(rel='stylesheet', href='/javascripts/dhtmlx_tree/dhtmlxtree_std.css', charset='utf-8')
    link(rel='stylesheet', href='/javascripts/dhtmlx_scheduler/dhtmlxscheduler.css', charset='utf-8')
    script(src="/javascripts/jquery/jquery.min.js")
    script(src="/javascripts/angular.js/angular.min.js")
    script(src="/javascripts/ui-bootstrap-0.7.0.js")
    script(src="/javascripts/ui-bootstrap-tpls-0.7.0.js")
    script(src="/javascripts/twitter-bootstrap/js/bootstrap.js")
    script(src="/javascripts/jquery.minicolors.js")
    script(src="/javascripts/dhtmlx_tree/dhtmlxtree_std.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/dhtmlxscheduler.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/ext/dhtmlxscheduler_serialize.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/ext/dhtmlxscheduler_limit.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/ext/dhtmlxscheduler_grid_view.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/ext/dhtmlxscheduler_outerdrag.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/ext/dhtmlxscheduler_tooltip.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/ext/dhtmlxscheduler_readonly.js", charset="utf-8")
    script(src="/javascripts/dhtmlx_scheduler/locale/locale_fr.js", charset="utf-8")
    script(src="/javascripts/app.js", charset="utf-8")

  body
    block content