body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.table_crud th{
   background-color: #18b1dd;
   color : #ffffff;
}

.table_schedule_div{
   height: 300px;
   width: 400px;
}

.table_schedule{
    width: 80%;
}

.td-minicolors{
    padding-top: 12px
}

.schedule_preview_span {
}

.schedule_time_slots {
    border:solid 1px #DDDDDD;
    margin-right:2px;
    padding-left: 6px;
    padding-right: 6px;
    float:left;
    font-size:15px;
    list-style: none;
    display:block;
}

.schedule_slot_not_taken {
    background-color: #19c749;
    color : black;
}

.schedule_slot_taken {
    background-color: #ff272c;
    color : #ffffff;
}