body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.table_crud th{
   background-color: #18b1dd;
   color : #ffffff;
}

.table_schedule_div{
   height: 400px;
   width: 370px;
}

.table_suppress_schedule_div{
    height: 400px;
    width: 680px;
}

.table_left_suppress_schedule_div
{
    height: 400px;
    width: 270px;
}

.div_nb_hours{
    height: 400px;
    width: 170px;
}

.table_schedule{
    width: 80%;
}
.table_suppress_schedule{
    width: 80%;

}

.td-minicolors{
    padding-top: 12px
}

.schedule_preview_span {
}

.schedule_time_slots {
    border:solid 1px #DDDDDD;
    margin-right:2px;
    padding-left: 6px;
    padding-right: 6px;
    float:left;
    font-size:15px;
    list-style: none;
    display:block;
}

.schedule_slot_not_taken {
    background-color: #19c749;
    color : black;
}

.schedule_slot_taken {
    background-color: #ff272c;
    color : #ffffff;
}

.td-schedule-preview{
    text-align: center;
}

.schedule_preview_model {
    padding-top: 20px;
    background-color: #00B7FF;
    width: 300px;
    height: 160px;
    margin: auto;
    border: 1px solid black;
    color : white;
}

.schedule_preview {
    padding-top: 20px;
    background-color: #00B7FF;
    width: 300px;
    height: 160px;
    margin: auto;
    border: 1px solid black;
}

.schedule_preview p {
    text-align: center;
    color : white;
}

.navbar-inner {
    background-image: -moz-linear-gradient(top, #29AAE1, #00B7FF) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#29AAE1), to(#00B7FF)) !important;
    background-image: -webkit-linear-gradient(top, #29AAE1, #00B7FF) !important;
    background-image: -o-linear-gradient(top, #29AAE1, #00B7FF) !important;
    background-image: linear-gradient(to bottom, #29AAE1, #00B7FF) !important;
    /*color : white !important;*/
}

.navbarStyle {
    color: white !important;
}

.navbarStyle:hover {
    background-color: #0A74BA !important;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
    background-color: #13A99C !important ;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #13A99C !important;
}

.save_btn_position{
    position: relative;
    right:210px ;
    left: auto ;
    top: 15px ;
}
.refresh_btn_position{
    position: relative;
    left:205px ;
    top: 15px ;
}

.btn_pos{
    margin: 5px !important;
}

.dhx_body{
    text-align: center;
}

.dhtmlXTooltip.tooltip{
    opacity: 100;
}

.dhx_marked_timespan.dhx_now_time{
    margin-left: 0px !important;
    min-height: 0px !important;
}

.dhx_cal_event {
    z-index: 1;
    cursor: pointer;
}

.highlighted_timespan {
    background-color: #87cefa;
    margin-left: 0px !important;
    opacity:0.5;
    filter:alpha(opacity=50);
    cursor: pointer;
    z-index: 0;
}

.red_section{
    background-color: red !important;
    opacity:0.5 !important;
    margin-left: 0px !important;
}

.gray_section{
    background-color: gray !important;
    opacity:0.5 !important;
    min-height: 0px !important;
    margin-left: 0px !important;
}

.dhx_event_resize.dhx_footer{
    background: url("../javascripts/dhtmlx_scheduler/imgs_dhx_terrace/resizing.png") no-repeat scroll center center transparent !important;
}

.combobox_hidden{
    display:none !important;
}

.combobox_visibile{
    display: block;
}

#treebox_ClassesTree{
    line-height: 1;
}

.loginFormInput{
    margin-bottom: 15px !important;
}


#error_csv_file{
    color : red;
}

.conflicts{color : red;}
.no_conflicts{color : green;}

.table_filtre{
    margin-top: 15px;
    margin-bottom: 20px;
}