<div class="container" ng-init="init()">
    <h1>Groupes</h1>
    <table>
        <tr>
            <td>
                <h3>Recherche</h3>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td><input type="text" ng-model="search.name" placeholder="Recherche" ng-change="filter()"/></td>

        </tr>
    </table>
    <br>
    <br>
    <div>
        <button id="addButton" ng-class="{'btn btn-info': !isCollapsed, 'btn btn-danger': isCollapsed}" ng-click="collapse()">Ajouter</button>
        <br>
        <br>
        <div collapse="!isCollapsed">
            <div class="well" style="width: 30%">
                <table>
                    <tr>
                        <td>
                            <input ng-model="data.name" type="text" id="name" required placeholder="Nom du groupe"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success" ng-click="add()">Confirmer</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div  >
        <table class="table table-hover table_crud">
            <thead>
            <th>#</th>
            <th>Nom</th>
            <th></th>
            </thead>
            <tbody>
            <tr ng-show="promotions.length <= 0">
                <td colspan="3" style="text-align: center;">
                    Aucun élément, appuyez sur le bouton  <button class="btn btn-info" ng-click="collapse()">Ajouter</button> pour commencer
                </td>
            </tr>
            <tr ng-repeat="promotion in promotionsFiltered = (promotions | filter:search) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" repeat-directive>
                <td>{{promotions.indexOf(promotion)}}</td>
                <td style="width: 70%">
                    <span id="span{{promotion._id}}">{{promotion.name}}</span>
                    <input type="text" id="text{{promotion._id}}" class="hiddenElements"/>
                </td>
                <td>
                    <i id="saveButton{{promotion._id}}" class="icon-ok hiddenElements" ng-click="edit_save(promotion)"></i>
                    <i id="cancelButton{{promotion._id}}" class="icon-remove hiddenElements" ng-click="cancel(promotion)"></i>
                    <i id="editButton{{promotion._id}}" class="icon-pencil" ng-click="edit(promotion)"></i>
                    <i id="deleteButton{{promotion._id}}" ng-click="delete(promotion)" class="icon-trash"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination boundary-links="true" num-pages="noOfPages" current-page="currentPage" max-size="maxSize" ></pagination>
    </div>
</div>